<%- include('header') -%>
<%- include('searchBox') -%>
  <body class="bodyStyle">
    <div class="top-container">
      <%- include('links') -%>
      <h1 class="heading">Book Tracker</h1>
    </div>


  </body>
</html>
