<form action="/search/" name="searchForm" id="searchForm" method="post">
  <input type="text" name="searchBox" placeholder="Enter book title">
  <button type="submit" name="searchButton">Search</button>
</form>
